<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>卓越运营</title>
    <link rel="stylesheet" href="{% static 'css/home/index.min.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_681895_w5poic4qj6vfgvi.css">
</head>
<body>
    <div class="header">
        <div class="header-wrapper">
            <div class="logo-group"><a href="#"><img src="{% static 'images/opex.png' %}" alt="首页"></a></div>
            <div class="info-group">
                <ul class="user-info">
                    <li>姓名</li>
                    <li>部门</li>
                </ul>
                <ul class="nav-info">
                    <li><a href="#">价值流</a></li>
                    <li><a href="#">员工赋能</a></li>
                    <li><a href="#">问题文化</a></li>
                    <li><a href="#">组织变革</a></li>
                    <li><a href="#">组织绩效</a></li>
                </ul>
            </div>
            <div class="auth-group">
                <i class="icon-person iconfont"></i>
                <a href="#">登录</a>/
                <a href="#">注册</a>
            </div>
            <div class="search-group">
                <input class="search-box" type="text" placeholder="搜索">
            </div>
        </div>
    </div>
    <div class="main">
        <div class="content-wrapper">
            <div class="value-stream content">
                <div class="title"><span>价值流管理</span></div>
                <ul class="vs-info">
                    <li><a href="#">客户导向</a></li>
                    <li><a href="#">价值流管理</a></li>
                    <li><a href="">稳定基础之工作环境</a></li>
                    <li><a href="">稳定基础之人员</a></li>
                    <li><a href="">稳定基础之设备</a></li>
                    <li><a href="">稳定基础之物料</a></li>
                    <li><a href="">拉动式生产</a></li>
                    <li><a href="">连续流和节拍时间</a></li>
                </ul>
            </div>
            <div class="manpower content">
                <div class="title"><span>员工赋能</span></div>
                <ul>
                    <li><a href="">薪酬体系</a></li>
                    <li><a href="">招聘</a></li>
                    <li><a href="">入职和试用期流程</a></li>
                    <li><a href="">岗位和角色职责</a></li>
                    <li><a href="">学习体系</a></li>
                    <li><a href="">改善建议体系</a></li>
                    <li><a href="">团队规模</a></li>
                    <li><a href="">发展自主团队</a></li>
                    <li><a href="">员工发展</a></li>
                </ul>
            </div>
            <div class="problem-culture content">
                <div class="title"><span>问题文化</span></div>
                <ul>
                    <li><a href="">目视化管理</a></li>
                    <li><a href="">绩效管理看板</a></li>
                    <li><a href="">绩效指标</a></li>
                    <li><a href="">标准化操作</a></li>
                    <li><a href="">问题发现和响应机制</a></li>
                    <li><a href="">问题解决</a></li>
                    <li><a href="">问题管理文化</a></li>
                    <li><a href="">管理控制</a></li>
                </ul>
            </div>
            <div class="organization-innovation content">
                <div class="title"><span>组织变革</span></div>
                <ul>
                    <li><a href="">改善的文化</a></li>
                    <li><a href="">组织领导者的持续改善理念</a></li>
                    <li><a href="">组织项目部署</a></li>
                    <li><a href="">信任&透明</a></li>
                    <li><a href="">领导者的现场走动管理</a></li>
                    <li><a href="">运营会议</a></li>
                    <li><a href="">持续改善路线图</a></li>
                    <li><a href="">持续改善的知识和资源</a></li>
                </ul>
            </div>
            <div class="performance content">
                <div class="title"><span>组织绩效</span></div>
                <ul>
                    <li><a href="">客户满意度</a></li>
                    <li><a href="">财务绩效</a></li>
                    <li><a href="">流程绩效</a></li>
                    <li><a href="">人事绩效</a></li>
                    <li><a href="">卓越运营评估的进度</a></li>
                    <li><a href="">供应商绩效</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</body>
</html>